
  
  
:root{

    --logo-color:#000;
    --actient-color:#2196F3;
    --text-color:#212121;
    --desk-color:#757575;
    --main-color:hsl(0, 0%, 100%);
    --team-background:#F5F4FA;
    --foterr-background:#2F303A;
    --fotter-contact:rgba(255, 255, 255, 0.60);
}


.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red ;
    flex-direction: row;
}
.team-foto{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: Roboto;
}
.header-logo{
    color: var(--actient-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700px;
line-height: 1.38;
letter-spacing: 0.78px;
}
.header-box{
     display: flex;
     align-items: center;
    
    outline: 1px solid red;
}
.header {
    display: flex;
    gap: 50px;
    padding-top: 24px;
    padding-bottom:25px ;

}
.header-logo{
    margin-right: 93px;
    font-family: Raleway;
        font-size: 26px;
     
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;

}
.header-list{
    display: flex;
    gap: 50px;
    margin-right: 344px;
}
.header-items{
    display: flex;
    gap: 50px;
}
.header-color{
    color: var(--logo-color);
}
.header-link{
    color: var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus{
    color: var(--actient-color);
}
.header-contact{
    color: var(--desk-color);

font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}
.header-contact:hover,
.header-contact:focus{
    color: var(--actient-color);
}
.hero{
    background-color: var(--foterr-background);
    padding-top:200px ;
    padding-bottom:200px ;
}
.hero-title{
    color: var(--main-color);
   margin-left: auto;
   margin-right: auto;


text-align: center;

font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}
.hero-box{
    
        display: flex;
            align-items: center;
            justify-items: center;
            flex-direction: column;
}
.hero-title{
    display: flex;
        width: 696px;
      
        justify-content: center;
        align-items: center;
   
   
        margin-bottom: 30px;
}
.hero-button{

    
    color: var(--main-color);
    
  
padding: 10px 32px;
text-align: center;

font-size: 16px;

font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--actient-color);

box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.about{
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-list{
    display: flex;
 
gap: 30px;
}
.about-title{
    color: var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}
.about-text{
    color: var(--desk-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.work-title{
    color: var(--text-color);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;

}

.work-list{
    display: flex;
    gap: 30px;
}

.team {

    background-color: var(--team-bg-color);
}

.team-title {
    color: var(--text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
   
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-item {
    background-color: var(--main-color);
    margin-bottom: 9px;
}

.team-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-caption {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.team-description {
    color: var(--descr-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-top: 10px;
}
.team-name{
    color: #212121;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.team-text{
color: #757575;

    text-align: center;
    font-size: 16px;
font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
.team-img {
    display: flex;
    gap: 30px;
width: 100%;
    height: 260px;
    justify-content:center
  
}
.footer{
    background-color: var(--foterr-background);
    padding: 60px 0;
    
}
.footer-logo{
    color: var(--actient-color);
    display: block;
    margin-bottom: 20px;


font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}
.footer-location{
    color: var(--main-color);
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-list{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.footer-contact{
    color: var(--fotter-contact);


font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.web-botton{
    color: var(--text-color);
 
 font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
    letter-spacing: 0.48px;
    display: flex;
   
}
.web-item:hover{
    background-color: var(--actient-color);
    color: var(--main-color);

}
.web-item:focus{
    background-color: var(--actient-color);
    color: var(--main-color);
  
}


.web-title{
    color: var(--text-color);
     font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2.00;
        /* 200% */
        letter-spacing: 1.08px;
}
.web-text{
    color: var(--desk-color);
    
    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.87;
        /* 187.5% */
        letter-spacing: 0.48px;
    }
    .web-foto{
        display: flex;
        justify-content: center;
        
    }
    .web-item{
      
                color: var(--text-color);
                font-size: 16px;
                font-weight: 500;
                line-height: 1.62;
                letter-spacing: 0.48px;
                padding: 6px 22px;
                border-radius: 4px;
                background-color: var(--button-and-our-section-background);
                justify-content: center;
                flex-direction: row;
        
    }
    