:root {
  --logo-color: #000;
  --actient-color: #2196f3;
  --text-color: #212121;
  --desk-color: #757575;
  --main-color: hsl(0, 0%, 100%);
  --team-background: #f5f4fa;
  --foterr-background: #2f303a;
  --fotter-contact: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 1px solid red;
  flex-direction: row;
}


body {
  font-family: Roboto;
}
.header-logo {
  color: var(--actient-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700px;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-box {
  display: flex;
  align-items: center;

  outline: 1px solid red;
}
.header {
  display: flex;
  gap: 50px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-size: 26px;

  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.header-list {
  display: flex;
  gap: 50px;
  margin-right: 344px;
}
.header-items {
  display: flex;
  gap: 50px;
}
.header-icon{
  width: 16px;
  height: 12px;
  fill: var(--desk-color);
}
.header-color {
  color: var(--logo-color);
}
.header-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-link:hover,
.header-link:focus {
  color: var(--actient-color);
}
.header-contact {
  color: var(--desk-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--actient-color);
}
.hero {
  background-color: var(--foterr-background);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),url(../imges/hero.webp);
}
.hero-title {
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero-box {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.hero-title {
  display: flex;
  width: 696px;

  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}
.hero-button {
  color: var(--main-color);

  padding: 10px 32px;
  text-align: center;

  font-size: 16px;

  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--actient-color);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-list {
  display: flex;
 gap: 30px;

}
.about-item::before{
  content: "";
  display: block;
  width: 270px;
height: 120px;
border-radius: 4px;
background: #F5F4FA;
margin-bottom: 30px;
background-image: url(../imges/antena.png);
background-repeat: no-repeat;
background-position: center;
background-size: 70px;
}
.about-item:nth-child(2)::before{
  background-image: url(../imges/clock.png);
}
.about-item:nth-child(3)::before{
  background-image: url(../imges/diagram.png);
}
.about-item:nth-child(4)::before{
  background-image: url(../imges/astronaut.png);
}
.about-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-text {
  color: var(--desk-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  width: 270px;
}
.work{
  padding-bottom: 94px;
}
.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.team {
  background-color: var(--team-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: var(--main-color);
  margin-bottom: 9px;
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20)
}

.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-caption {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.team-description {
  color: var(--descr-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}
.team-foto {
  width: 270px;
 
}
.team-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team-text {
  color: #757575;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
.team-items{
  display: flex;
  gap: 10px;
  margin-top: 16px;
  justify-content: center;
}
.team-link{
  width: 44px;
height: 44px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}
.team-link:hover{
  background-color: var(--accent-color);
 .team-icon{
  fill: var(--main-color);
 }
}
.team-icon{
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  }
.team-img {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 260px;
  justify-content: center;
}
.client{
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.client-tittle{
  color: var(--text-color);

text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.client-list{
  display: flex;
  gap: 30px;

}
.client-link{
  width: 170px;
height: 92px;
border-radius: 4px;
border: 1px solid #AFB1B8;
display: flex;
justify-content: center;
align-items: center;
}
.client-link:hover{
  border: 1px solid var( --actient-color);
  .client-icon{
    fill: var( --actient-color);
  }
}
.client-icon{
  width: 106px;
height: 60px;
fill: #AFB1B8;
}
.footer {
  background-color: var(--foterr-background);
  padding: 60px 0;
}
.footer-logo {
  color: var(--actient-color);
  display: block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer-color{
  color: var(--main-color);
}
.footer-location {
  color: var(--main-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-list {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-contact {
  color: var(--fotter-contact);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.web-sec {
  padding-top: 94px;
  padding-bottom: 94px;
}
.web-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.web-button {
  color: var(--text-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;

  padding: 6px 25px;
  border-radius: 4px;
  background: var(--team-background);
  border: none;
}
.web-button:hover {
  background-color: var(--actient-color);
  color: var(--main-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12)
}

.web-title {
  color: var(--text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2;
  /* 200% */
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}
.web-text {
  color: var(--desk-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87;
  /* 187.5% */
  letter-spacing: 0.48px;
}
.web-foto {
  width: 100%;
}

.web-box {
  padding: 20px 24px;
}

.web-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.web-items {
  outline: 1px solid #eee;
  flex-basis: calc((100% - 60px) / 3);
}
.web-items:hover{
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16)i
}
