:root {
    --logo-color: #000;
    --actient-color: #2196f3;
    --text-color: #212121;
    --desk-color: #757575;
    --main-color: hsl(0, 0%, 100%);
    --team-background: #f5f4fa;
    --foterr-background: #2f303a;
    --fotter-contact: rgba(255, 255, 255, 0.6); }