.web-sec {
    padding-top: 94px;
    padding-bottom: 94px;
}

.web-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.web-button {
    color: var(--text-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    /* 162.5% */
    letter-spacing: 0.48px;

    padding: 6px 25px;
    border-radius: 4px;
    background: var(--team-background);
    border: none;
}

.web-button:hover {
    background-color: var(--actient-color);
    color: var(--main-color);
    border-radius: 4px;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12)
}

.web-title {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2;
    /* 200% */
    letter-spacing: 1.08px;
    margin-bottom: 4px;
}

.web-text {
    color: var(--desk-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87;
    /* 187.5% */
    letter-spacing: 0.48px;
}

.web-foto {
    width: 100%;
}

.web-box {
    padding: 20px 24px;
}

.web-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.web-items {
    outline: 1px solid #eee;
    flex-basis: calc((100% - 60px) / 3);
}

.web-items:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16)i }